.dropdown-item:hover {
    background-color: aliceblue;
}

/* TODO: Needs tweaking */
.dropdown-menu .dropdown-item.active {
    background-color: lightblue;
    color: black;
}

.top-buffer {
    padding-top: 20px;
    padding-bottom: 0px;
}

.center {
    text-align: center;
}

body {
    background-color: F8F9FA;
}

/* @media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #343A40;
    }
} */